body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

  header {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
  }

  h1 {
    margin: 0;
  }

  .searchoption {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  form {
    display: inline-block;
  }

  input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }

  button[type="search"] {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
  }

  .bodypart, .equipment {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 20px;
  }

  .bodypart p, .equipment p {
    margin: 0;
    margin-bottom: 10px;
  }

  .bodypart div, .equipment div {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-right: 10px;
  }

  .card {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: lightgray;
  }

  .card img {
    width: 100%;
    margin-bottom: 20px;
  }

  .card a {
    display: block;
    margin-top: 20px;
  }

  @media(min-width: 320px) and (max-width: 480){
    .bodypart{
      visibility: hidden;
    }
    body{
      font-size: medium;
    }
    footer{
      display: block;
      right: 0;
      bottom: 0;
      color: black;
    }
      /* body{
      background-image: to-be-filled;
      background-color: to be filled;
      background-position: to be filled;
      background-size: to be filled;
    /* } */
  }

  @media(min-width: 768px){
    body{
      background-image:url('../img/will-fill-in-later0');
      background-size:stretch;
      background-position: center;
    }
    /* .toprow, .bottomrow{
      display: flex;
      justify-content: center;
      align-content: center;
    } */
    footer{
      display: flex;
      align-content:space-around;
      justify-content:space-around;
      color: black;
    }
    main{
      font-size: larger;
    }
    input:hover, label:hover{
      text-decoration: underline;
      font-size: 30px;
    }
  }

  @media(min-width: 1025px){
    html{
      height: 100%;
    }
    main{
      font-size:x-large;
    }
    input:hover, label:hover{
      text-decoration:double;
      font-size: 40px;
    }
    /* body{
      background-image: to-be-filled;
      background-color: to be filled;
      background-position: to be filled;
      background-size: to be filled;
    } */
    h1{
      font-size: 7rem;
    }
    h2{
      font-size: 5rem;
    }
  }