h1 {
  width:500px;
  margin: 0 auto;
  background: gray;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
}

p{
text-align: left;
font-size: 20px;
}

.DataDomain, .AppDescription {
  border: 20px solid;
  padding:80px;
  margin: 25px;
}

